<h1><%= @task.name %></h1>

<p>Due Date: <%= @task.due_date %></p>

<form action="/tasks/<%= @task.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <input name="task[status]" type="hidden" value="true">
  <button>Mark done</button>
</form>

<p><a href="/tasks/<%= @task.id %>/edit">Edit</a></p>
<p><a href="/tasks/<%= @task.id %>"
      data-confirm="You Sure?"
      data-method="delete"
      rel="nofollow">Delete</a></p>
<p><a href="/tasks">Return to task list</a></p>

